# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
# Importing pandas an numpy libraries
import pandas as pd
import numpy as np

# Setting variables to each file route
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

# Importing three files into the notebook
df_file1 = pd.read_csv(url1)
df_file2 = pd.read_csv(url2)
df_file3 = pd.read_csv(url3)

In [4]:
# Checking columns names in file1 to concat files properly
df_file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [5]:
# Checking columns names in file2 to concat files properly
df_file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [6]:
# Checking columns names in file1 to concat files properly
df_file3.columns

# Modifying Gender and State column names to coincide with two previous file names
df_file3 = df_file3.rename(columns={'Gender': 'GENDER', 'State': 'ST'})

In [7]:
# Concatenate the three files in a single dataframe
df = pd.concat([df_file1, df_file2, df_file3], axis=0)

In [8]:
# Parameters to autoreload edited modules
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

# Importing data_cleaning module to clean the dataframe
import data_cleaning as dc

# Applying main_cleaning function from data_cleaning module to the dataframe
df = dc.main_cleaning(df)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [9]:
# Setting variables to each file route
url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

# Importing file into the notebook
customer_analysis = pd.read_csv(url4)

# Standarizing column names
customer_analysis = dc.rename_columns(customer_analysis)

# Removing duplicated customers
customer_analysis = dc.remove_duplicates(customer_analysis)

In [10]:
# Checking column names to gain understanding of what is inside the dataframe
customer_analysis.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [11]:
# Checking null values in each column
customer_analysis.isna().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [13]:
# Checking values inside sales_channel are well defined
customer_analysis['sales_channel'].value_counts()

sales_channel
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: count, dtype: int64

In [ ]:
# Modifying income column to float type
customer_analysis['income'] = customer_analysis['income'].astype('float64')

In [39]:
# Defining and printing pivot comparing sales_channel with sum of income
pivot_df = customer_analysis.pivot_table(index='sales_channel', values=['income'], aggfunc='sum')
pivot_df = pivot_df.round(2)
pivot_df

                    income
sales_channel
Agent          129274684.0
Branch          96477104.0
Call Center     67820007.0
Web             50390714.0

Agents are the channel who create a higher revenue above the rest of the channels. Sells managed through the webpage generate the lowest income.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
# Checking customer_lifetime_value is a numerical value
customer_analysis['customer_lifetime_value'].dtype

dtype('float64')

In [ ]:
# Checking values inside gender variable make sense
customer_analysis['gender'].value_counts()

gender
F    4658
M    4476
Name: count, dtype: int64

In [ ]:
# Checking values inside customer_lifetime_value variable make sense
customer_analysis['education'].value_counts()

education
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: count, dtype: int64

In [45]:
clv_gender_education = customer_analysis.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'], aggfunc='mean')
clv_gender_education = clv_gender_education.round(2)
clv_gender_education

                     customer_lifetime_value
gender                                     F        M
education
Bachelor                             8012.88  7722.07
College                              7732.83  7971.34
Doctor                               7423.63  7614.82
High School or Below                 8579.00  8010.08
Master                               8319.11  8158.08

People with College and Doctor education have the lowest CLV independently of their gender.
People with High School or Bellow and Master education have the highest CLV independently of their gender.
CLV is slightly higher in general for females than males.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [55]:
complaints_month_policy_type = customer_analysis.pivot_table(index='policy_type', columns='month', values=['number_of_open_complaints'], aggfunc='sum')
complaints_month_policy_type = complaints_month_policy_type.round(2)
complaints_month_policy_type

               number_of_open_complaints
month                                  1        2
policy_type
Corporate Auto                    372.30   340.53
Personal Auto                    1464.34  1186.19
Special Auto                       76.77    71.15